<input class="form-control" type="search" placeholder="Search" aria-label="Search" id="textFilterInput" [(ngModel)] ="filterText">
<div 
  *ngIf="filterText && filterText.length > 3"
  class="alert alert-info">
    <small > <strong>{{filterText}}</strong> searching ...</small>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Units In Stock</th>
        <th scope="col">Unit Price</th>
        <th scope="col">VAT Price</th>
        <th>Purchase</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | filterPipe: filterText">
        <td> {{product.productName | uppercase }} </td>
        <td> {{product.unitsInStock}} </td>
        <td> {{product.unitPrice}} TL</td>
        <td> <strong> {{product.unitPrice | vatAdded:300 }} TL</strong></td>
        <td><button  (click)="addToCart(product)" class="btn btn-outline-success" type="button" >Add To Cart</button></td>
      </tr>
    </tbody>
  </table>